/* GENERAL */

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
  }
  
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  
  /* HEADER */
  
  header img {
    width: 100px;
  }
  
  header .lf-logo {
    display: none;
    width: 30px;
  }
  
  header .icons {
    width: 130px;
    cursor: pointer;
  }
  
  header {
    height: 50px;
    background-color: #F8F8FB;
    font-family: 'Roboto', sans-serif;
  }
  
  header .lf-navbar {
    flex-wrap: nowrap;
  }
  
  header .lf-navbar form {
    width: 80%;
    height: 30px;
    
  }
  
  header .lf-navbar input {
    border-radius: 0;
    border-left: none;
    padding-left: 4px;
    cursor: pointer;
  }
  
  input::placeholder {
    font-size: 0.8rem;
  }
  
  header .lf-navbar form i.lf-lens {
    cursor: pointer;
    font-size: 0.8rem;
    background-color: #FFFEFF;
    padding-top: 7px;
    padding-left: 10px;
    border-top: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
    border-left: 1px solid #CED4DA;
  }
  
  header .dropdown-menu[data-bs-popper].lf-dropdown {
    left: auto;
    right: 4px;
    top: 45px;
  }
  
  header ul.dropdown-menu.lf-dropdown {
   font-size: 0.8rem;
  }
  
  header .dropdown-toggle::after {
    display: none;
  }
  
  
  
  
  /* MAIN */
  
  main {
    height: calc(100vh - 50px);
    font-family: 'Roboto', sans-serif;;
  }
  
  /* SIDEBAR */
  
  main .bar {
    font-family: 'Poppins', sans-serif;
  }
  
  main .bar {
    width: 115px;
    height: calc(100vh - 50px);
    background-color: #061E34; 
    background-image: url('../img/sidebar-bg.png');
  }
  
  main .bar span {
    font-size: 0.7rem;
    font-weight: lighter;
    cursor: pointer;
  }

  /* TOP */

main .content h3 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #272630;
  }
  
  
  main .content {
    width: calc(100% - 115px);
    height: calc(100vh- 50px);
    background-color: #FFFFFF;
    overflow: auto;
  } 
  
  main .content nav {
    height: 90px;
    background-color: #1B73E8;
    color: #F4F4F7;
  }
  
  main .content nav p {
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  
  main .content nav p.num {
    font-size: 1.5rem;
  }
  
  main .content nav span {
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 400;
    background-color: #155CBA;
    padding: 3px 6px;
    border-radius: 10px;
  }
  
  main .content nav i {
    display: none;
    font-size: 0.7rem;
  }
  
  main .content nav i.back {
    background-color: #155CBA;
    padding: 3px 4px;
    border-radius: 50%;
  }
  
  /* BOTTOM */

/* DROPDOWN MENU */

main .content .drop {
    width: 100%;
    height: 45px;
    background-color: #F7F7F7;
    border: 1px solid #dad8d8;
    border-bottom: 0;
  }
  
  main .content .drop button {
    background-color: #F7F7F7;
    color: #155CBA;
  }
  
  main .content .drop .dropdown-toggle::after {
    display: none;
  }
  
  main .content .drop .dropdown-menu {
    min-width: 30rem;
  }
  
  
  /* TABLE */
  
  main .content table.lf-table > :not(caption) > * > * {
    padding: 0.3rem 0.3rem;
  }
  
  main .content table.lf-table th {
    width: 100px;
  }
  
  main .content table.lf-table th,
  main .content table.lf-table td,
  main .content table.lf-table span{
    font-size: 0.8rem;
  }
  
  main .content table.lf-table td,
  main .content table.lf-table span{
    text-align: center;
  }
  
  main .content table.lf-table tr.up {
    border-bottom: 1px solid black;
  }
  
  main .content table.lf-table th i {
    background-color: #F26453;
    padding: 6px 5px;
    color: #F8F8FB;
    border-radius: 50%;
    font-size: 0.7rem;
    margin-right: 3px;
  }
  
  main .content table.lf-table th span {
    font-weight: 400;
  }
  
  main .content table.lf-table td i {
    color: #6B757D;
    padding: 6px;
    border: 1px solid #6B757D;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  main .content table.lf-table td span {
    background-color: #1A8754;
    padding: 2px 5px;
    border-radius: 4px;
    color: #F8F8FB;
  }
  
  
  